/**
 *  CSS RESET
 **/

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/**
 *  CSS START
 **/

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

.header-text {
  font-size: 3em;
  font-weight: 700;
  margin: 0 0 50px 0;
}

.body-text {
  margin: 30px 0;
  line-height: 150%
}

.body {
  background: #f2f2ea;
  font-family: Helvetica, Arial, Sans-Serif;
  color: #141823;
  font-size: 14px;
}

.container {
  position: absolute;
  display: block;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
  padding: 50px;
  background: #ffffff;
}

.form {
  display: block;
  margin-bottom: 100px;
} 

.form-group {
  margin: 20px 0;
}

.label-wrapper {
  display: inline-block;
  width: 20%;
}

.label {
  font-weight: 700;
}

.input-wrapper {
  display: inline-block;
  width: 79%;
}

.input {
  display: block;
  width: 100%;
  height: 30px;
  padding: 3px 15px;
  border: 0.5px solid rgba(0, 0, 0, 0.1);
  color: #708090;
  font-size: 1em;
}

.button-wrapper { }

.button {
  border: 0.5px solid rgba(0, 0, 0, 0.1);
  border-radius: 0px;
  padding: 10px 20px;
  color: #708090;
  font-size: 1em;
}

.img-group {
  width: 100%;
  text-align: center;
}

.img-group:after {
  content: " ";
  clear: both;
  display: block;
}

.img-container {
  display: block;
  float: left;
  width: 25%;
  padding: 10px 2%;
}

.img {
  max-width: 100%;
  max-height: 100px;
}